---
import Layout from '@layouts/Layout.astro';
import H1 from '@components/H1.astro';
---

<Layout>
  <article>
    <H1 scale={true} maxFontSize='medium'>Hey! I'm Tijs</H1>
    <section data-split>
      <div>
        <img src='/images/tijs.jpg' alt='Tijs' />
      </div>

      <div>
        <h2>A bit about me</h2>
        <p>I'm a photographer, videographer and content creator based between the Netherlands and the UK.</p>

        <p>
          What started as photographing local shows and friends' bands quickly grew into a career that has taken me around the
          world. Over the years, I've had the privilege of working with some of the biggest names in punk rock and alternative
          music, touring and creating content for artists such as The Offspring, Sum 41, Rise Against, Slipknot, Simple Plan,
          Dropkick Murphys and many more.
        </p>

        <p>
          Whether it's documenting a sold-out show, capturing the energy of a live event, or helping brands tell their story,
          I'm passionate about creating visuals that connect with people.
        </p>

        <p>Feel free to get in touch! I'd love to hear about your next project.</p>
      </div>
    </section>
  </article>
</Layout>

<style lang='scss'>
  article {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
  }

  div + div {
    border-top: 2px solid var(--c-ink-subtle-2);
    padding-block: var(--space-5);
  }
</style>
