---
import Layout from '@layouts/Layout.astro';
import PageTitle from '@components/PageTitle.astro';
---

<Layout>
  <PageTitle scale={true}>Gimme beer!</PageTitle>
  <p>This is the beer page.</p>
</Layout>
