---
type Props = {
  scale?: boolean;
  maxFontSize?: "small" | "medium" | "large";
};


const { scale, maxFontSize } = Astro.props as Props;


let fontSize = '120px';
if (maxFontSize === "small") fontSize = '80px'
else if (maxFontSize === "medium") fontSize = '120px'
else if (maxFontSize === "large") fontSize = '175px'
---

<h1 id='page-title' {...scale ? { 'data-scale': '' } : {}}  style=`--_max-font-size:${fontSize}`>
  {
    scale ? (
      <>
        <!-- prettier-ignore -->
        <span aria-hidden="true"><slot /></span>
        <span><slot /></span>
      </>
    ) : (
      <slot />
    )
  }
</h1>

<style lang='scss'>
  h1[data-scale] {
    --_base: 5rem;
    font-size: var(--_base);
    position: relative;
    max-width: var(--max-width);
    margin-bottom: var(--space-3);

      span:first-child {
      position: absolute;
      top: 0;
      left: 0;
      color: rgb(0 0 0 / 0);
      user-select: none;
      display: block;
      width: max-content;
    }

    span:last-child {
      display: block;
      font-size: min(calc(var(--_base) * var(--_scale)), var(--_max-font-size, 150px));
      width: max-content;
    }
  }
</style>

<script>
  const mainEl = document.querySelector('main') as HTMLElement;
  const titleEl = document.querySelector('#page-title') as HTMLHeadingElement;
  const textEls = titleEl.querySelectorAll('span') as NodeListOf<HTMLSpanElement>;

  const calculateScale = () => {
    const mainWidth = mainEl.offsetWidth;
    const textElWidth = textEls[0].offsetWidth;
    const scale = mainWidth / textElWidth;

    titleEl.style.setProperty('--_scale', scale.toFixed(3));
  };

  if (titleEl.hasAttribute('data-scale')) {
    window.addEventListener('resize', calculateScale);
    calculateScale();
  }
</script>
