---
import Logo from '@svg/Logo.astro';
---

<nav>
  <ul>
    <li class='logo'>
      <a href='/'><Logo /> Tijsvl</a>
      <li><a href='/photo'>Photo</a></li>
      <li><a href='/video'>Video</a></li>
      <li><a href='/about'>About</a></li>
      <li><a href='/galleries'>Galleries</a></li>
      <li><a href='/contact'>Contact</a></li>
    </li>
  </ul>
</nav>

<style lang='scss'>
  ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--space-5);
  }

  a {
    color: inherit;
    font-size: var(--font-5);
  }

  li:first-child a {
    text-transform: uppercase;
    font-size: var(--font-7);
    font-weight: 600;

    &:hover {
      text-decoration: none;
    }
  }

  li:not(:first-child) {
    [aria-current] {
      font-weight: 400;
    }
  }

  .logo {
    margin-right: auto;

    a {
      display: flex;
      gap: inherit;
      align-items: center;
      gap: var(--space-2);
    }
  }
</style>

<style lang='scss' is:global>
  .logo {
    #svg-logo {
      height: 1.1em;
      transition: transform 1s ease-out;
    }

    &:hover #svg-logo {
      transform: rotateY(-360deg);
    }
  }
</style>

<script>
  const { pathname } = window.location;
  const toplevel = '/' + pathname.split('/')[1];
  const currentPage = document.querySelector(`nav a[href^="${toplevel}"]`);
  currentPage?.setAttribute('aria-current', 'page');
</script>
